<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- build:title -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="./css/all.css" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <h1>CRAFTsMAN</h1>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Icon</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- build:content -->


  <script src="./js/allCustom.js"></script>
</body>

</html>