<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- build:title -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/all.css" />
</head>

<body>
  <div class="position-relative h-100 container-fluid">
    <div class="container">
      <div class="row">
        <!-- build:index-content-background-image -->
        <nav class="navbar d-flex justify-content-between col-12">
          <a class="nav-link" href="../index.html">
            <h1 class="logo"> CRAFTsMAN </h1>
          </a>
          <ul class="nav" id="nav">
            <li class="nav-item">
              <a class="nav-link" href="../products.html">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="material-icons">shopping_cart</i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- build:index-content -->
    <!-- build:product-content -->
    <div class="subscribe">
      <div class="container">
        <div class="row">
          <div class="subscribe-content col-12">
            <h3 class="main-title text-white">Subscribe for news<br>and special offers</h3>
          </div>
          <div class="col-6">
            <div class="subscribe-input input-group">
              <input type="text" class="form-control" placeholder="Your email address" aria-label="Your email address"
                aria-describedby="button-subscribe">
              <div class="input-group-append">
                <button class="btn btn-success" type="button" id="button-subscribe">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="footer-area col-12 d-flex justify-content-between align-items-center">
            <h2 class="logo logo__footer">CRAFTsMAN
              <span class="copyright">© 2020. All Rights Reserved.</span>
            </h2>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link text-white active" href="#">Purchase Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Privacy Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Terms & Conditions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="./js/third-party.js"></script>
  <!-- build:script -->
</body>

</html>