.background-image-right{
  position: absolute;
  width:calc(50% - 15px);
  left:50%;
  max-height:800px;
  background-image: url(https://tinyurl.com/y9cblvko);
  z-index:-1;
}

.landing-intro{
  padding-top: 204px;
  padding-bottom: 255px;
  height:738px;
  .main-title{
    font-size: 48px;
    line-height: 64px;
  }
  .main-subtitle{
    font-size: 24px;
    line-height: 36px;
    color:$default-sub-font-color;
  }
}

.shop-now{
  width:50%;
  font-size: 20px;
  line-height: 32px;
}

.carousel{
  .product{
    color:$default-font-color;
    border:0px;
    img{
      display:block;
      width:100%;
    }
    .card-img-top{
      height:350px;
    }
  }
}

.subscribe{
  width:100%;
  background-image: url('https://tinyurl.com/yck2bnp3');
  background-size: cover;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  .main-title{
    padding-top: 85px;
    padding-bottom: 50px;
    font-size: 48px;
    line-height: 64px;
  }
  .subscribe-input{
    padding-bottom: 80px;
    @include placeHolder(#fff,0.5);
    input{
      height:66px;
      background-color: transparent;
      color:#ffffff;
    }
    button{
      padding:20px 44px;
    }
  }
}