.cards{
  column-count:3;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1; 
  @include tablet{
    column-count:2;
  }
  .card{
    display: inline-block;
    width: 100%;
    border:0px;
    .card__tag{
      position:absolute;
      right:0;
      font-size: 14px;
      font-weight: bold;
    }
    .card-img-top{
      @include tablet{
        max-height: 200px;
        object-fit: cover;
      }
    }
  }
}