doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block title 
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='./css/week5All.css')
  body
    .container
      .row
        .left-sidebar.col-3
          div
            .logo
              img(src='./images/logo-ANSWER.svg', alt='logo')
            ul.nav
              li
                i.material-icons insert_chart
                h3 Dashboard
              li
                i.material-icons forum
                h3 Question
              li
                i.material-icons assignment
                h3
                  a(href='./assignment.html') Assignment
              li
                i.material-icons video_library
                h3 Course
              li
                i.material-icons supervisor_account
                h3 
                  a(href='./admin.html') Admin
              li
                i.material-icons settings
                h3 Settings
          .user.row-custom
            img.user-image(src='https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/andychen.jpeg', alt='user-pic')
            .user-data
              p.user-name Andy Chen
              p.user-email andy0401@mail.com
        .col-9
          .top-section
            .col-6.row-custom
              block top-nav-name
              block top-nav-name-option
            .search-notifications.col-6.row-custom.justify-content-end
              i.material-icons search
              i.material-icons notifications_active
          block content
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')