*, *::before, *::after{
  box-sizing:border-box;
}

img {
  max-width: 100%;
  height: auto;
  display:block;
}

body{
  font-family:'Roboto','PingFang TC','Microsoft JhengHei',$default-font-family
}

ul{
  padding-left: 0px;
  li{
    list-style:none;
  }
}

a,a:hover,a:before{
  text-decoration: none;
  color:#000000;
}

.row-custom{
  display: flex;
  flex-wrap: wrap;
  margin:0px;
}

.material-icons{
  &.md-18 { 
    font-size: 18px; 
  }
  &.md-36 { 
    font-size: 36px; 
  }
  &.md-40 { 
    font-size: 40px; 
  }
  &.md-48 { 
    font-size: 48px; 
  }
}

.user{
  .user-image{
    width:40px;
    height:40px;
    border-radius: 50%;
  }
  .user-data{
    margin-left: 16px;
    p{
      margin-bottom: 4px;
    }
    .user-name{
      font-size: 16px;
    }
    .user-email{
      font-size: 14px;
    }
  }
}

.focus-string{
  color:#2A8356;
  background-color: #EDF4EE;
}