<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- build:title -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/all.css" />
</head>

<body>
  <div class="position-relative h-100 container-fluid">
    <div class="container">
      <div class="row">
        <nav class="navbar d-flex justify-content-between col-12">
          <h1 class="logo">CRAFTsMAN</h1>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="material-icons text-white">shopping_cart</i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- build:content-inside -->
      </div>
    </div>
    <!-- build:content-outside -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="footer-area col-12 d-flex justify-content-between align-items-center">
            <h2 class="logo logo__footer">CRAFTsMAN
              <span class="copyright">© 2020. All Rights Reserved.</span>
            </h2>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link text-white active" href="#">Purchase Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Privacy Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Terms & Conditions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="./js/allCustom.js"></script>
</body>

</html>